.columns>div>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>div>.columns-img-col {
  order: 0;
  display: flex;
  align-items: center;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }

}

.columns.first-dark .columns-row:first-child {
  background-image: url(/media_133d6e2851d3e351402c344b53ce59457b2e4e6b1.png?width=2000&format=webply&optimize=medium);
  background-size: cover
}

.columns.first-dark .columns-row:nth-child(odd) {
  background-color: #f3f2f6;
}


.columns.first-dark .columns-row:first-child h2,
.columns.first-dark .columns-row:first-child ul li {
  color: #fff;  
}

.columns.first-dark .columns-row:first-child p {
  color: #818a96;
}

.columns.first-dark .columns-row:first-child p a.button {
  color: #fff;
  background-color: #0296a6;
}

.columns .row-content {
  font-size: 18px;
}

.columns .row-content h2 {
  font-size: 36px;
  font-weight: 800;
}

.columns .row-content p {
  margin-bottom: 0;
}

.columns .row-content ul {
  list-style-type: none;
  margin-top: 0;
}

.columns .row-content ul li {
  padding: .5rem 0 .5rem .5rem;
}

.columns-row {
  padding: 4rem 0;
}

.columns .row-content ul li:before {
  content: "\2022";
  /* Unicode character for a bullet */
  color: #0296a6;
  /* Bullet color */
  font-size: 18px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  /* Adjust spacing as needed */
}

.columns .columns-row .row-content {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 32px
}

.columns .columns-row .row-content>div {
  flex-basis: 50%;
}