footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;  
}

footer .footer div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}

footer .footer p {
  margin: 0;
  color: #6D7683;
  font-size: 12px;
}

footer .footer ul {
  width: 100%;
  list-style-type: none;
  display: inline;
  text-align: right;
}

footer .footer ul li {
  display: inline;
  margin-right: 1rem;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  font-weight: 600;
}

footer img {
  width: 145px;
  height: auto;
}

@media (min-width: 701px) {
  footer .footer p {
    max-width: 360px;
  }
  
}

@media (max-width: 700px) {
  footer .footer ul {
    display: none;
  }
}